{% extends 'base_signup.html' %}
{% load bootstrap4 %}

{% block title %}Sign In{% endblock %}
{% block header %}Restaurant - Sign In{% endblock %}


{% block content %}
  <form method="POST" class="d-flex flex-column p-5">
    {% csrf_token %} 
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-pink mt-4 text-uppercase">Sign In</button>
  </form>
  <a href="{% url 'socialAuth:begin' 'facebook' %}">Facebook Login</a>
  <br>
  <a href="{% url 'restaurant-sign-up' %}">Become a Restaurant</a>

{% endblock %}